{{!-- This partial can be shown in the savedmeals.handlebars view, 
the  search.handlebars view, and the homepage.handlebars view, 
and the customfood.handlebars view --}}

<h1>You made it to the partial current meal handlebar</h1>