<h1>You are in the Favorites Handlebars, but this is a list of foods to test routes and handlebars</h1>

{{#each datas as |data| }}
<ul>
    <li>Food: {{data.food_name}} carbs: {{data.nf_total_carbohydrates}}</li>
</ul>
{{/each}}