<h1>We made it to the homepage.handlebars!!</h1>

{{!-- This view will show the list of user’s favorite foods for logged in users. 
Viewers not logged in can see something else,  a photo or something?
We will put the current meal partial in here on the right side --}}
