<!-- log in inputs -->
<div id="logInInputs">
    <p id="logInUserName">user name</p>
    <input type="text" id="userNameInput"></input>

    <p id="logInPassword">password</p>
    <input type="text" id="passwordInput"></input>
    <button id="logInBtn">log in</button>
</div>

<button id="backBtn">back</button>