{{!-- This will be a list of the users saved meals
The user can click on a saved meal and all foods from that saved meal will be entered into the current meal partial view
We will put the current meal partial in here on the right side --}}

<h1>you made it to saved meal handlebars</h1>
<br>
{{#if usermeals.length}}
{{#each usermeals as |meal|}}

<h4><a href="/api/meals/savedmeals/{{meal.id}}">{{meal.meal_name}}</h4>


{{/each}}
{{/if}}



{{!-- {{>currentmeal}} --}}