{{!-- The view to see search results
When the user searches for a food they will be directed to this view (unless not logged in of course)
This view will only show up when a food is searched, so no separate button or tab is needed to navigate to this view
When the user chooses a food from this list it will show up in the current meal partial view
We will put the current meal partial in here on the right side --}}

{{!-- Note: The search field where uers can enter their food will be in the main.handlebars and have it's own
js file.  --}}

<h1> Here is the search.handlebars, which will end up being a partial, but testing here for now</h1>

<p>{{ result.food_name }}</p>