<!-- Sign up inputs -->
<div id="signUpInputs">
    <p id="newUserName">user name</p>
    <input type="text" id="createUserNameInput"></input>

    <p id="newUserPw">password</p>
    <input type="text" id="createPasswordInput"></input>

    <p id="confirmPw">confirm password</p>
    <input type="text" id="confirmPasswordInput"></input>
    <button id="createAcntBtn">create account</button>
</div>