/* From Beau's prototype */
body {
    color: red;
    position:absolute;
    
    font-size: 12px;
    font-family: 'Short Stack', cursive;
    
    background-repeat: no-repeat;
    background-image: url(../images/breadbackground.jpeg);
    background-size:1024px 625px;
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a {
    text-decoration: none;
}

/* ----Main Page---- */
#searchDiv {
    display:none;

    position: absolute;
    width: 415px;
    height: 38px;
    left: 62px;
    top: 177px;

    background: #F7FFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#mealName {
    display:none;

    position: absolute;
    width: 374px;
    height: 38px;
    left: 544px;
    top: 177px;

    background: #F7FFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}
#leftWindow {
    overflow: auto;
    display: none;

    position: absolute;
    width: 417px;
    height: 360px;
    left: 62px;
    top: 225px;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #F7FFFF;
    border-radius: 10px;
}

#rightWindow {
    display: none;
    overflow: auto;
    
    position: absolute;
    width: 417px;
    height: 360px;
    left: 544px;
    top: 225px;

    background: #F6FFFF;
    border-radius: 10px;

    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#logo {
display: none;

position: absolute;
width: 328px;
height: 97px;
left: 108px;
top: 31px;

font-family: Sriracha;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 97px;

color: #FFFFFF;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-link {
    font-size: 13px;
}
#logoImage {
position: absolute;
width: 270px; 
height: 130px;

top:0px;
left: 518px;

}

#loggedInDisplay {
display:none;
position: absolute;

left: 120px;
top:94px;

width: 350px;
height: 70px;

/* background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px; */
}
#landingLogoImage {
    position: absolute;
    display:initial;
    width: 500px;
    height: 250px;
    top:200px;
    left:-10px
   
}
#landingLogo {
display: initial;

position: absolute;
width: 328px;
height: 97px;
left: 300px;
top: 31px;

font-family: Sriracha;
font-style: normal;
font-weight: normal;
font-size: 55px;
line-height: 97px;

color: #FFFFFF;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#dropDown {
display: none;

text-decoration:solid;
position: absolute;
width: 306px;
height: 45px;
left: 595px;
top: 53px;

color :rgb(60, 198, 101);
font-family: Sriracha;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 64px;




text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.table {
    font-family: 'Short Stack';
    empty-cells:hide;
    font-size: 12px;
}
.nav-item {
    font-family: 'Short Stack';
}
.form-control {
        font-family: 'Short Stack';

}
/* ---------------  */



/* ---- Log in / Sign up ---- */
#background {
display:initial;

position:absolute   ;
width: 100%;
height: 100%;
left: 0%;
top: 0%;

background: #e5dede;
}

#nameTxt {
display: initial;

position: absolute;
width: 500px;
height: 84px;
left: 30%;
top: -5%;

font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-weight: normal;
font-size: 72px;
line-height: 84px;

color: #000000;

}

#flavor-txt {
display:initial;

position: absolute;
margin: auto;
width: 598px;
height: 28px;
left: 50%;
top: 45%;
transform: translate(-50%, -50%);

font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #000000;

}

/* #showLogInBtn {
display:initial;

position: absolute;
width: 141px;
height: 48px;
left:600px;
top: 400px ;
margin:auto;

background: #9CDA8D;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 8px;
}
    #showLogInBtn:hover {
       background: #8ecde0;
    } */

#showSignUpBtn {
display:initial;

position: absolute;
width: 141px;
height: 48px;
left: 300px;
top: 550px;

background: #9CDA8D;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 8px;
}
    #showSignUpBtn:hover {
        background-color: #8ecde0;
    }


#createUserNameInput {

position: absolute;
width: 279px;
height: 34px;
left: 300px;
top: 200px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;
}

#createPasswordInput {

position: absolute;
width: 279px;
height: 34px;
left: 350px;
top: 350px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;
}

#confirmPasswordInput {

position: absolute;
width: 279px;
height: 34px;
left: 400px;
top: 460px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;
}


#createAcntBtn {

position: absolute;
width: 108.57px;
height: 34px;
left: 44%;
top: 80%;

background: #9CDA8D;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 8px;
}
    #createAcntBtn:hover {
        background:#8ecde0;

    }

#userNameInput {
position: absolute;
width: 279px;
height: 34px;
left: 375px;
top: 400px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;
}

#passwordInput {

position: absolute;
width: 279px;
height: 34px;
left: 375px;
top: 500px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;
}

#logInBtn {

position: absolute;
width: 141px;
height:48px;
left: 600px;
top: 550px;

background: #9CDA8D;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 8px;
}
    #logInBtn:hover {
        background:#8ecde0;

    }


#newUserName {

position: absolute;
width: 142.66px;
height: 42px;
left: 400px;
top: 150px;

font-family: Arial, Helvetica, sans-serif;

font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}

#newUserPw {

position: absolute;
width: 142.66px;
height: 42px;
left: 400px;
top: 300px;

font-family: Arial, Helvetica, sans-serif;

font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}

#confirmPw {

position: absolute;
width: 200.66px;
height: 42px;
left: 400px;
top: 410px;

font-family: Arial, Helvetica, sans-serif;

font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}

#logInUserName {

position: absolute;
width: 142.66px;
height: 42px;
left: 450px;
top: 350px;

font-family: Arial, Helvetica, sans-serif;

font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}

#logInPassword {

position: absolute;
width: 142.66px;
height: 42px;
left: 450px;
top: 450px;

font-family: Arial, Helvetica, sans-serif;

font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}

#signUpInputs {
    display:none;
}

#logInInputs {
    display:initial;
}

#initialBtns {
    display: initial;
}


#backBtn {
display:none;

position: absolute;
width: 76px;
height: 23.8px;
left: 400px;
top: 500px;

background: #9CDA8D;
border: 2px solid #000000;
box-sizing: border-box;
border-radius: 8px;
}
    #backBtn:hover {
        background:#8ecde0;

    }

/* ---------------  */

#logInTxt {
position: absolute;
width: 377.49px;
height: 48px;
left: 490px;
top: 220px;

font-family: Sriracha;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 31px;
}

#email-login {

position: absolute;
width: 300px;
height: 30px;
left: 360px;
top: 300px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}
#emailLogInTxt {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 480px;
    top: 240px;

    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 53px;
}


#passwordLogInTxt {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 460px;
    top: 340px;

    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 53px;
}

#password-login {
    position: absolute;
width: 300px;
height: 30px;
left: 360px;
top: 400px;

background: #FFFFFF;
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
}

#logInBtn2 {
    position: absolute;
    height: 40px;
    width: 80px;
    left: 470px;
    top: 460px;


    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow:unset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

#signupBtn1 {

    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 53px;
}

#logIn {
 position: absolute;
color: green;
    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    left: 150px;
}
#logIn:hover {
    color:blue
}
#logout {
        position: absolute;
        left: 0px;
    top:0px;

    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    
color:green;
background-color: white;
border-radius: 10px;
}
#logOut {
    position: absolute;
        left: 0px;
    top:0px;

    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 53px;

}


#signUp {
    position: absolute;
color:green;

    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 41px;
    
    
}
#signUp:hover {
    color:blue;
}

#signupUserName {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 455px;
    top: 190px;

    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 53px;
}
#username-signup {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 360px;
    top: 250px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#signUpEmail {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 460px;
    top: 290px;

    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 53px;
}
#email-signup {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 360px;
    top: 350px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
#confirmPassword {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 420px;
    top: 385px;

    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 53px;
}

#password-signup {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 360px;
    top: 440px;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#signupBtn2 {
    position: absolute;
    height: 40px;
    width: 90px;
    left: 470px;
    top: 500px;


    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow:unset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: green;
   
}

/* .form {
    left:500px;
} */

#nutritionixsearch {
    position:absolute;

}
#button-addon2 {
   position: absolute;
    left:373px;
}
#button-addon3 {
    position: absolute;
    left:0px;
    background-color: white;
}

#signUp {
        position: absolute;
color:green;

    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
  font-size:40px;

  background-color: white;
   
    box-sizing: border-box;
    box-shadow:unset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}

#logIn {
    position: absolute;
    color:green;

    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size:40px;
    background-color: white;
   
    box-sizing: border-box;
    box-shadow:unset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}
#customFood {
    position: absolute;
    color:green;

    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    font-size:24px;
    background-color: white;
   
    box-sizing: border-box;
    box-shadow:unset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width:145px;
    left:280px;
    top: 95px;
}

#foodNameTxt {
    position: absolute;
    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    left:160px;
    top:70px;
    color:green;
    
}

#customFoodTitle {
    position: absolute;
    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    left:70px;
    top:10px;
    color:green;
}

#food-name {
    position: absolute;
    text-decoration: none;
    font-family: Short Stack;
    font-style: normal;
    font-weight: normal;
    left:100px;
    top:100px;
}

#carb-amount {
    position: absolute;
    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
}

#carbAmtTxt {
    position: absolute;
    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    left:135px;
    top:160px;
    color:green;
}

#carb-amount{
    position: absolute;
    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    left:108px;
    top:190px;
}

#customSubBtn {
    position: absolute;
    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    left:100px;
    top:260px;
}
#customBackBtn {
    position: absolute;
    text-decoration: none;
    font-family: Sriracha;
    font-style: normal;
    font-weight: normal;
    left:230px;
    top:260px; 
}